html {
    scroll-behavior: smooth;
}

body {
    background-color: #121213;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#backgroundImage {
    width: 100vw;
    filter: blur(5px);
}


header{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;

    z-index: 10;
    top: 0;
    right: 0;

    position: fixed;
}

.burger {
    display: none;
    top: 0;
    right: 0;
}

#title {
    display: none;
}


nav {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.mainMenuDiv {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px dashed #6e85b2;
}

.mainMenuDiv > .menu {
    border: 2px solid #6e85b2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 35px;
}

a {
    color: #6e85b2;
    text-decoration: none;
    text-shadow: rgba(38, 28, 44, 0.49) 2px 3px;
}

a:hover {
    color: #5c527f;
    font-size: 110%;
}

p > a {
    color: #5c527f;
}
p > a:hover {
    font-size: 100%;
}

.menu > .actuelPage {
    color: #5c527f;
}


main {
    top: 10vh;
    margin: 10px 25px;
    justify-items: center;
    text-align: center;
    position: absolute;
}

.element {
    margin: auto auto 20px;
    background: rgba(40, 42, 58, 0.90);
    max-width: 800px;
    border-radius: 20px;
    padding: 15px;

    font-size: 30px;
    color: #6e85b2;

    filter: drop-shadow(3px 2px 3px rgba(0, 0, 0, 0.15));
}

.imagePrincipale {
    border-radius: 20px;
    margin: auto 10px;
}

.contenuPrincipal {
    margin: 25px 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

article {
    margin: auto 25px 10px;
    background: rgba(40, 42, 58, 0.90);
    border-radius: 20px;
    padding: 15px;
    max-width: 75vw;

    font-size: 25px;
    text-align: left;
    color: #6e85b2;

    filter: drop-shadow(3px 2px 3px rgba(0, 0, 0, 0.15));
}

aside {
    width: 15vw;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background: rgba(40, 42, 58, 0.90);
    border-radius: 15px;
    font-size: 23px;
    color: #6e85b2;
    text-align: left;

}

aside > p, aside > a {
    margin: 10px auto;
}

aside a:hover {
    font-size: 100%;
}

aside > p {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 25px;
    max-width: 200px;
}

@media screen and (max-width: 950px) {


    header {
        backdrop-filter: blur(5px);
        left: 0;
        height: 15vh;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        position: absolute;
        font-size: 30px;
    }

    #imgBurgerDiv {
        transform: scale(0.9);
    }

    .burger:hover #imgBurgerDiv {
        transform: scale(1.1) translateX(-5px);
        transition-duration: 200ms;
    }

    .burger:hover .respMenu {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    #imgBurgerDiv {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .respMenu {
        display: none;
        background-color: rgba(40, 42, 58, 0.9);
    }

    nav {
        display: none;
    }


    #title {
        color: #6E85B2FF;
        display: block;
        position: fixed;
        text-align: center;
        max-width: 60vw;
        top: 10px;
        margin: auto;
        font-size: 4vh;
    }

    .imagePrincipale {
        max-width: 100vw;
        margin: 25px auto;
    }


    aside {
        display: none;
    }

    .element {
        max-width: 90vw;
        font-size: 5vw;
    }



}

@media screen and (max-width: 380px) {
    #title {
        left: 0;
    }
}





