html {
    scroll-behavior: smooth;
}

body {
    background-color: #121213;
    margin: 0;
}

#backgroundImage {
    width: 100%;
    filter: blur(5px);
}


header {
    height: 10vh;
    width: 100vw;

    z-index: 10;
    top: 0;

    position: fixed;
}


.burger {
    display: none;
}

#title {
    display: none;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.mainMenuDiv {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.mainMenuDiv > .menu {
    margin: 5px;
    border: 2px solid #6e85b2;
    border-radius: 5px;
    font-size: 35px;
    text-align: center;
}

.sous_menu {
    display: none;
}

.menu:hover > .sous_menu {
    display: inherit;
}

a {
    color: #6e85b2;
    text-decoration: none;
    text-shadow: rgba(38, 28, 44, 0.49) 2px 3px;
}

a:hover {
    color: #5c527f;
}

p > a {
    color: #5c527f;
}

p > a:hover {
    font-size: 100%;
}

.menu > .actuelPage {
    color: #5c527f;
}


main {
    display: flex;
    width: 100%;
    flex-direction: column;
    top: 10vh;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}

main > div {
    width: 100%;
}


.element {
    background: rgba(40, 42, 58, 0.90);
    border-radius: 20px;
    color: #6e85b2;
    font-size: 30px;
    filter: drop-shadow(3px 2px 3px rgba(0, 0, 0, 0.15));
}

.imagePrincipale {
    border-radius: 20px;
    margin-top: 10px;
}

.contenuPrincipal {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

article {
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 5px;
    background: rgba(40, 42, 58, 0.90);
    border-radius: 20px;
    max-width: 75vw;

    font-size: 25px;
    text-align: left;
    color: #6e85b2;

    filter: drop-shadow(3px 2px 3px rgba(0, 0, 0, 0.15));
}

aside {
    display: flex;
    flex-direction: column;
    background: rgba(40, 42, 58, 0.90);
    border-radius: 15px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #6e85b2;
    text-align: left;

}


aside > p, aside > a {
    margin: 10px auto;
}


aside > p {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 25px;
    max-width: 200px;
}


@media screen and (max-width: 950px) {

    nav {
        display: none;
    }

    aside {
        display: none;
    }

    header {
        display: flex;
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
    }

    #title {
        color: #6E85B2FF;
        display: inherit;
        text-align: center;
        font-size: 5vw;
    }

    .burger {
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 30px;
    }

    .burger:hover .respMenu {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    #imgBurgerDiv {
        display: inherit;
    }

    .respMenu {
        position: absolute;
        top: 88px;
        right: 2vw;
        display: none;
        background-color: rgba(40, 42, 58, 0.9);
    }

    .imagePrincipale, #title, article {
        max-width: 75vw;
    }

    .element {
        font-size: 3vw;
    }

    .references {
        word-break: break-word; /*permet au lien de ne pas depasser le parent*/
    }


}





